.tweetbutton {
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    background-color: #00acee !important;
    border: none !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    color: white !important;
}