.tweet{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--x_gray);

}

.tweet__body {
    flex: 1;
    padding: 10px;

}

.tweet__body > img {
    border-radius: 20px;

}

.tweet__footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.favoriteButton {
    font-size: large;
}

.favoriteButton_heartFill{
    color: red;
}

.tweet__verifiedIcon {
    color: #00acee;
    font-size: 15px !important;
    padding: 2px;

}

.tweet__headerSpecial{
    font-weight: 600;
    font-size: 13px;
    color: gray;

}
.tweet__headerText > h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.tweet__avatar {
    padding: 15px;

}

.tweet__headerDescription {
    font-size: 15px;
    margin-bottom: 10px;
}
