.userBadge {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
}

.userBadge:hover {
    background-color: var(--x_gray);
    border-radius: 30px;
    transition: 100ms ease-out;
 }

 .userBadge > .MuiSvgIcon-root {
    padding: 20px;
}

.userBadge__user {
    padding-left: 15px;
}